@import './mixins.scss';
@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../fonts/style_fonts_icon.css';

* {
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.blue_btn {
    @include flex(center, flex-start, 0, row);
    @include Montserrat(14px, 700, 17px, $active_regular);
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover,
    &:hover path {
        color: $accent;
        stroke: $accent;
    }


}

.header {
    border-radius: 0px 0px 12px 12px;
    background: $gradient_supersoft;

    &_bg {
        background: no-repeat url(../icons/Symbol.svg);
        background-position: 50% 45%;

        .header_menu {
            background-color: $grey0pasity;

            &_1 {

                padding: 10px 15px;
                @include flex(center, space-between, 0, none);
                align-self: stretch;

                &_lang {
                    @include flex (center, center, 0, row);

                    .lang {
                        @include Montserrat(12px, 700, 15px, $white);
                        text-align: center;
                        letter-spacing: 1px;
                        padding: 5px 7px;

                        &:hover {
                            border-radius: 8px;
                            background-color: $accent;
                        }
                    }
                }


                &_contact {
                    &_number {
                        @include Montserrat(16px, 700, 20px, $white);
                        text-decoration: none;
                        text-align: right;

                        &:hover {
                            border-radius: 8px;
                            background-color: $accent;
                        }
                    }
                }
            }
        }

        .header_menu_2 {
            padding: 0 15px;
            @include flex(center, space-between, 0, none);

            &_name {
                padding: 15px 0 10px 0;
                @include flex(none, center, 4px, row);

                &_1 {
                    @include flex(center, center, 3.47px, column);
                }

                &_serv {
                    @include Montserrat (20px, 400, 24px, $white);
                }
            }

            .bg_dropdown {

                .overlay {
                    height: 0%;
                    width: 100%;
                    position: fixed;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    overflow-y: hidden;
                    transition: 0.5s;
                    border-radius: 12px 12px 0px 0px;
                    background: $white;
                }

                .overlay-content {
                    position: relative;
                    @include flex (center, center, 15px, column);
                    top: 25%;
                    text-align: center;
                    margin-top: 20px;
                    padding: 12px;
                }

                .overlay a {
                    @include Montserrat(24px, 700, 29px, $active_regular);
                    @include flex(flex-start, center, 0, none);
                    align-self: stretch;
                    background-color: $grey_bg;
                    padding: 7px 0;
                    transition: 0.3s;
                    border-radius: 12px;
                }

                .overlay a:hover,
                .overlay a:focus {
                    color: $accent;
                }

                .overlay a:active {
                    background-color: $grey_separator;
                }

                .overlay .closebtn {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    background-color: $white;
                }

                @media screen and (max-height: 450px) {
                    .overlay {
                        overflow-y: auto;
                    }

                    .overlay .closebtn {
                        font-size: 40px;
                        top: 15px;
                        right: 35px;
                    }
                }
            }

        }

        .header_menu_tablet,
        .tablet {
            @include flex(flex-start, center, 30px, column);
            padding: 50px 60px 0 50px;

            &_info,
            .info {
                @include flex(center, flex-start, 6px, row);

                &_lang {
                    @include flex (center, center, 0, row);

                    .lang {
                        @include Montserrat(12px, 700, 15px, $white);
                        text-align: center;
                        letter-spacing: 1px;
                        padding: 5px 7px;

                        &:hover {
                            border-radius: 8px;
                            background-color: $accent;
                        }
                    }
                }

                &_adres {
                    @include Montserrat(16px, 400, 20px, $grey_text);
                }

                &_tel {
                    @include Montserrat(16px, 700, 20px, $white);
                }

                .icon-Facebook-Header {
                    font-size: 24px;
                }
            }

            &_name {
                @include flex(center, flex-start, 6.5px, column);
            }

            &_menu_ul {
                @include flex(center, center, 15px, row);

                .li_ul {
                    @include flex(center, center, 3px, column);

                    a {
                        @include Montserrat (16px, 700, 20px, $white);
                    }

                    span {
                        height: 2px;
                        width: 100%;
                        background-color: rgba(0, 0, 0, 0);
                    }

                    &:hover a {
                        color: $accent;
                    }

                    &:hover span {
                        background-color: $accent;
                    }
                }
            }
        }

        .header_menu_pc,
        .header_pc {
            padding: 50px 60px 0 60px;
            @include flex(center, space-between, 0, row);

            &_name {
                @include flex(center, flex-start, 6.5px, column);
            }

            &_info {
                @include flex(center, center, 16px, column);

                .info {
                    @include flex(center, flex-start, 6px, row);

                    &_lang {
                        @include flex (center, center, 0, row);

                        .lang {
                            @include Montserrat(12px, 700, 15px, $white);
                            text-align: center;
                            letter-spacing: 1px;
                            padding: 5px 7px;

                            &:hover {
                                border-radius: 8px;
                                background-color: $accent;
                            }
                        }
                    }

                    &_adres {
                        @include Montserrat(16px, 400, 20px, $grey_text);
                    }

                    &_tel {
                        @include Montserrat(16px, 700, 20px, $white);
                    }

                    .icon-Facebook-Header {
                        font-size: 24px;
                    }

                }

                .header_pc_ul {
                    @include flex(center, center, 15px, row);

                    .li_pc {
                        @include flex(center, center, 3px, column);

                        a {
                            @include Montserrat (16px, 700, 20px, $white);
                        }

                        span {
                            height: 2px;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0);
                        }

                        &:hover a {
                            color: $accent;
                        }

                        &:hover span {
                            background-color: $accent;
                        }
                    }

                }

            }
        }


        .main_text {
            @include Montserrat(38px, 700, 46px, $white);
            text-align: center;
            padding: 130px 30px 160px 30px;
        }

        .btn_scroll {
            padding: 0 0 30px 0;
            @include flex(center, center, 0, none);

            &_svg:hover circle,
            &_svg:hover path {
                stroke: $accent;
            }
        }


    }

    .const {
        padding: 60px;
        @include flex(flex-start, center, 60px, column);

        &_container {
            @include flex(flex-start, center, 60px, column);

            .const_title {
                @include flex(center, space-between, 30px, row);

                .title {
                    @include Montserrat(38px, 700, 46px, $grey_text);
                    white-space: nowrap;

                    &_1 {
                        background: $gradient_red_reversed;
                        -webkit-background-clip: text;
                        background-clip: text;
                        color: transparent;
                    }

                    &:hover {
                        color: $accent
                    }

                }
            }

            .const_line {
                width: 4px;
                height: 303px;
                background-color: rgba(255, 255, 255, 0.30);
            }

            .const_srv,
            .srv {
                @include flex(flex-start, center, 30px, column);

                &_ttl {
                    @include Montserrat(30px, 700, 37px, $white);
                }

                &_text {
                    @include Montserrat(19px, 400, 30px, $white);
                }
            }
        }

        .better {
            @include flex(flex-start, center, 60px, column);

            &_srv {
                @include flex(flex-start, center, 10px, column);

                &_ttl {
                    @include Montserrat(38px, 700, 46px, none);
                    background: $gradient_red_reversed;
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

            &_li {
                @include flex(flex-start, center, 30px, column);


                &_item {
                    @include flex(flex-start, center, 30px, column);

                    .item_svg {
                        padding: 14px;
                        background-color: $white;
                        border-radius: 24px;
                    }

                    .item_txt {
                        @include flex(flex-start, center, 15px, column);


                        &_ttl {
                            @include Montserrat(22px, 700, 27px, $active_regular);

                            &:hover {
                                color: $accent;
                            }
                        }

                        &_info {
                            @include Montserrat(16px, 400, 26px, $white);
                        }
                    }
                }
            }
        }
    }

}



.header_line {
    @include flex(center, center, 0, column);

    &_1 {
        height: 10px;
        width: 90%;
        border-radius: 0px 0px 12px 12px;
        background-color: $grey_line;
    }

    &_2 {
        height: 10px;
        width: 80%;
        border-radius: 0px 0px 12px 12px;
        background-color: $grey_light_line;
    }
}


.work {

    .team {
        @include flex(stretch, center, 0, column);
        padding: 60px 60px 0 60px;
        border-radius: 12px;

        &_img {
            height: 500px;
            overflow: hidden;

            .img_aleks {
                border-radius: 12px 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &_info {
            padding: 30px;
            background-color: $grey_bg;
            @include flex(flex-start, center, 30px, column);
            border-radius: 0 12px 12px 0;

            &_tlt {
                @include Montserrat(38px, 700, 46px, none);
                background: $gradient_red_reversed;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            &_work {
                @include flex (flex-start, center, 6px, column);

                .name {
                    @include Montserrat(16px, 700, 20px, $grey_text);
                }

                .job {
                    @include Montserrat(14px, 400, 22px, $grey_text);
                }
            }
        }
    }

    .eclips {
        @include flex(center, center, 15px, row);
        padding-top: 30px;

        &_item {
            .eclips_svg:hover circle {
                fill: $active_regular;
                opacity: 1;
            }
        }

    }

}

.clients {
    @include flex(stretch, center, 30px, column);

    &_ttl {
        @include flex(center, center, 0, none);
        @include Montserrat(14px, 700, 17px, $main_regular);
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-top: 60px;
    }

    .companies {
        @include flex(stretch, center, 0, column);

        .company1 {
            @include companyStyles(36px, 19px, #1C4280);
        }

        .company2 {
            @include companyStyles(44px, 28px, #143646);
        }

        .company3 {
            @include companyStyles(38px, 38px, linear-gradient(0deg, #F48B30 0%, #F48B30 100%) #F48B30);
        }

        .company4 {
            @include companyStyles(39px, 38px, #9E4DC3);
        }

        .company5 {
            @include companyStyles(38px, 41px, #FD9339);
        }

        .company6 {
            @include companyStyles(36px, 30px, #E2E2E4);
        }

        .company6_TAB {
            @include companyStyles(36px, 60px, #E2E2E4);
        }


        .company7 {
            @include companyStyles(30px, 59px, #C71C36);
        }

        .company8 {
            @include companyStyles(22px, 55px, #DCF3F9);
        }

        .company9 {
            @include companyStyles(30px, 37px, #EAEAEA);
        }

        .company10 {
            @include companyStyles(41px, 37px, #282240);
        }

        .company11 {
            @include companyStyles(37px, 34px, #1D4568);
        }

        .company12 {
            @include companyStyles(13px, 52px, #000);
        }
    }


}

.pub {
    padding: 30px 60px 0 60px;
    background-color: $grey_bg;
    @include flex(flex-start, center, 30px, column);

    &_title {
        @include flex(flex-start, center, 10.5px, column);

        &_h3 {
            @include Montserrat(38px, 700, 46px, none);
            background: $gradient_red_reversed;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &_list {
        @include flex(flex-start, center, 30px, column);

        .pub_item {
            border-radius: 8px;
            background-color: $white;
            height: 100%;

            &_img {
                height: 200px;
                overflow: hidden;

                .item_photo {
                    border-radius: 8px 8px 0 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover
                }

            }

            .pub_info {
                @include flex(flex-start, center, 15px, column);
                padding: 30px;

                &_tlt {
                    @include Montserrat(16px, 700, 20px, $active_regular);
                }

                &_date {
                    @include Montserrat(12px, 700, 15px, $grey_text);
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                &_line {
                    height: 4px;
                    align-self: stretch;
                    background-color: $grey_separator;
                }

                &_txt {
                    @include Montserrat(14px, 400, 22px, $balck);
                }
            }

        }
    }
}

.footer_mob,
.mob {
    @include flex(center, center, 30px, column);
    padding: 30px;
    background-color: $grey_bg;

    &_line {
        height: 2px;
        align-self: stretch;
        background-color: $grey_separator;
    }

    &_info {
        @include flex(center, center, 20px, column);

        .adres {
            @include flex(center, center, 10px, column);

            &_kiev {
                @include Montserrat(16px, 400, 20px, $main_regular);
            }

            &_map {
                @include Montserrat(12px, 700, 15px, $active_regular);
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }

        .logo {
            @include flex(center, center, 10px, column);

            .icon-Facebook-Footer {
                font-size: 38px;
            }

            &_tel {
                @include Montserrat(16px, 700, 20px, $main_alt);
            }

            &_mail {
                @include Montserrat(16px, 700, 20px, $active_regular);
            }
        }
    }

    &_llc {
        @include Montserrat(16px, 400, 20px, $grey_text);
        text-align: center;
    }
}


.footer_pc,
.pc {
    @include flex(none, center, 30px, column);
    padding: 30px 60px;
    background-color: $grey_bg;

    &_info {
        @include flex(none, center, 21px, column);

        .pc_adres {
            @include flex(center, space-between, 0, row);

            .adres_city {
                .adres_kiev {
                    @include Montserrat(16px, 400, 20px, $main_regular);
                }

                .adres_map {
                    @include Montserrat(12px, 700, 15px, $active_regular);
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }

            .pc_llc {
                @include Montserrat(16px, 400, 20px, $grey_text);
            }
        }

        .pc_logo {
            @include flex(center, flex-start, 10px, row);

            .icon-Facebook-Footer {
                font-size: 38px;
            }

            &_tel {
                @include Montserrat(16px, 700, 20px, $main_alt);
            }

            &_mail {
                @include Montserrat(16px, 700, 20px, $active_regular);
            }
        }
    }

}


/* --media-- */

@media screen and (max-width: 764px) {
    .header {
        overflow: hidden;
        max-width: 100%;

        &_bg {

            .header_menu_tablet,
            .tablet,
            .header_menu_pc,
            .header_pc {

                display: none;
            }
        }

        .const {
            padding: 30px 30px 60px 30px;
            gap: 30px;

            &_container {
                overflow: hidden;
                overflow-x: scroll;
                max-width: 100%;
                gap: 30px;

                .const_title {
                    overflow: hidden;
                    overflow-x: scroll;
                    max-width: 100%;
                    padding-bottom: 30px;

                    .title {
                        font-size: 30px;
                        line-height: 37px;
                    }
                }

                .const_line {
                    display: none;
                }

                .const_srv,
                .srv {
                    &_ttl {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }

            .better {

                gap: 30px;

                &_srv {
                    &_ttl {
                        font-size: 30px;
                        line-height: 37px;
                    }
                }
            }
        }
    }

    .clients {
        overflow: hidden;
        max-width: 100%;

        .companies {

            .company6_TAB,
            .company7,
            .company8,
            .company9,
            .company10,
            .company11,
            .company12 {
                display: none;
            }
        }
    }

    .work {
        overflow: hidden;
        max-width: 100%;

        .team {
            padding: 30px 30px 0 30px;

            &_info {
                overflow: hidden;
                max-width: 100%;

                &_tlt {
                    font-size: 30px;
                    line-height: 37px;
                }
            }
        }
    }

    .pub {
        overflow: hidden;
        max-width: 100%;
        padding: 30px 30px 0 30px;

        &_title {


            &_h3 {
                font-size: 30px;
                line-height: 37px;
            }
        }
    }

    .footer_mob,
    .mob {
        overflow: hidden;
        max-width: 100%;
    }

    .pc {
        display: none;
    }
}

@media screen and (max-width: 1020px) and (min-width: 765px) {

    .header {
        &_bg {
            background-size: 115%;
            background-position: 55% 60%;

            .header_menu,
            .header_menu_2,
            .header_menu_pc,
            .header_pc {
                display: none;
            }

            .main_text {
                padding: 269px 0 417px 0;
            }
        }



        .const {
            &_container {
                overflow: hidden;
                overflow-x: scroll;
                max-width: 100%;



                .const_title {
                    overflow: hidden;
                    overflow-x: scroll;
                    max-width: 100%;
                    padding-bottom: 60px;
                }

                .const_line {
                    display: none;
                }
            }

            .better {
                &_li {
                    @include flex(flex-start, space-between, 60px, row);
                    flex-wrap: wrap;

                    &_item {
                        width: 45%;
                    }
                }

            }
        }
    }

    .clients {
        .companies {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            justify-content: center;

            .company6 {
                display: none;
            }
        }
    }

    .pub {
        &_list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;

            .item_3 {
                grid-area: 2/1/2/3;
            }
        }
    }

    .mob {
        display: none;
    }
}


@media screen and (max-width: 1436px) and (min-width: 1021px) {
    .header {
        &_bg {
            background-size: 65%;
            background-position: 50% 80%;

            .header_menu,
            .header_menu_2,
            .header_menu_tablet,
            .tablet {
                display: none;
            }

            .main_text {
                padding: 245px 0 289px 0;
            }
        }

        .const {
            &_container {
                @include flex(center, space-between, 60px, row);

                .const_title {
                    @include flex(flex-end, center, 30px, column);



                }
            }

            .better {
                &_li {
                    @include flex(flex-start, flex-start, 60px, row);
                    flex-wrap: wrap;

                    &_item {
                        width: 28%;
                    }
                }

            }
        }
    }

    .work {
        .team {
            flex-direction: row;

            &_img {
                max-height: 100%;
                width: 200%;
                border-radius: 12px 0 0 12px;
            }
        }
    }

    .clients {
        .companies {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;

            .company6 {
                display: none;
            }
        }
    }

    .pub {
        &_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            grid-gap: 30px;
        }
    }

    .mob {
        display: none;
    }
}

@media screen and (max-width:1916px) and (min-width: 1437px) {
    .header {
        &_bg {
            background-size: 51%;
            background-position: 53% 60%;

            .header_menu,
            .header_menu_2,
            .header_menu_tablet,
            .tablet {
                display: none;
            }

            .main_text {
                padding: 261px 0 305px 0;
            }
        }

        .const {
            &_container {
                margin: 0 120px 0 120px;
                @include flex(center, space-between, 60px, row);

                .const_title {
                    @include flex(flex-end, center, 30px, column);



                }
            }

            .better {
                &_li {
                    @include flex(flex-start, flex-start, 60px, row);
                    flex-wrap: wrap;

                    &_item {
                        width: 30%;
                    }
                }

            }
        }
    }

    .work {
        .team {
            flex-direction: row;

            &_img {
                height: 400px;
                width: 100%;
                border-radius: 12px 0 0 12px;
            }
        }
    }

    .clients {
        .companies {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;

            .company6 {
                display: none;
            }
        }
    }

    .pub {
        &_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            grid-gap: 30px;
        }
    }

    .mob {
        display: none;
    }
}

@media screen and (min-width: 1917px) {
    .header {
        &_bg {
            background-size: 45%;
            background-position: 50% 55%;

            .header_menu,
            .header_menu_2,
            .header_menu_tablet,
            .tablet {
                display: none;
            }

            .header_menu_pc,
            .header_pc {
                padding: 50px 160px 0 160px;
            }


            .main_text {
                padding: 361px 0 405px 0;
            }
        }

        .const {
            padding: 0 160px 60px 160px;

            &_container {
                margin: 0 120px 0 120px;
                @include flex(center, space-between, 60px, row);

                .const_title {
                    @include flex(flex-end, center, 30px, column);



                }
            }

            .better {
                &_li {
                    @include flex(flex-start, flex-start, 60px, row);
                    flex-wrap: wrap;

                    &_item {
                        width: 30%;
                    }
                }

            }
        }
    }

    .work {

        .team {
            flex-direction: row;
            padding: 60px 160px 0 160px;

            &_img {
                height: 400px;
                width: 100%;
                border-radius: 12px 0 0 12px;
            }
        }
    }

    .clients {
        padding: 0 100px 60px 100px;

        .companies {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            justify-content: center;

            .company1 {
                border-radius: 12px 0 0 0;
            }

            .company4 {
                border-radius: 0 12px 0 0;
            }

            .company9 {
                border-radius: 0 0 0 12px;
            }

            .company12 {
                border-radius: 0 0 12px 0;
            }

            .company6 {
                display: none;
            }
        }
    }

    .pub {
        padding: 30px 160px 0 160px;

        &_list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: center;
            grid-gap: 30px;
        }
    }

    .footer_mob,
    .mob {
        display: none;
    }

    .footer_pc,
    .pc {
        padding: 30px 160px;
    }
}